# Created by Vercel CLI
VERCEL_OIDC_TOKEN="fGupp76QGDX1TTtEkSHupZYIDyzouh7qjqJgQK72YYmH0ewp-eWbvs1Qj76pSaPGCQMc8QTcTHLyqAd209pV9PWnIbolVvakM757ETz-zfCUOq62OHWpqgxD46PwKyNAeC8bhSATycX3e58kAhcEjV6yhjy3OnSKrjpb42XJBQ3BB2z9FP4egz2Y1wegNKafKiB9XY2HVIQiFPc9eCDDscmjvMdjDxUWn6TcHIqA"
NEXT_PUBLIC_API_URL=http://192.168.0.105:5000/
# NEXT_PUBLIC_API_URL=https://mms-server-4akj.onrender.com
